<div class="has-text-centered"
     data-controller="question"
     data-answer="{{ answer }}"
     data-target="{{ target }}">
	<h3>{{ text }}</h3>
	<div>
		<input class="input answer is-medium is-rounded" placeholder="Antwort" type="text"></input>
	</div>
	<div class="p-4">
		<button data-action="question#check" class="button is-medium is-rounded is-success">Ok</button>
	</div>
</div>
