<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="/ylvie.css">
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <script src="/easteregg.js" language="javascript"></script>
  </head>
  <body>
    <section class="section">
    <div class="container">
	<div class="content">
		{% block content %} {% endblock %}
	</div>
    </div>
    </section>
  </body>
</html>
