{% extends "base.html" %}

{% block content %}
	<div class="has-text-centered">
		<h1>Hallo Ylvie!</h1>
		<p>
		Willkommen zur "Ostereiersuche"! Um loszulegen
		drück auf den Knopf.
		</p>
		<div>
			<a href="/start" class="button is-success">Los!</a>
		</div>
	</div>
{% endblock content %}
